.news-slider-controls-wrapper {
    float: right;
    margin: 2px 4px;
}

#news-slider-wrapper {
    width: 100%;
    overflow: hidden;
}

.news-slider-items {
    width: 4000px;
}

.news-slider-item {
    position: relative;
    width: 500px;
    float: left;
}
.news-slider-item-title {
    margin: 4px auto;
}

a.news-slider-item-link-read-more{
    position: absolute;
    bottom: 10px;
    right: 20px;
    background-color: #03519B;
    font-weight: bold;
    color: #FFF !important;
    padding: 2px 5px !important;
    text-decoration: none !important;
}
.news-slider-item-excerpt {
    padding: 0 5px;
    min-height: 150px;
}

.widget_newsslider_widget > h2 {
    position: absolute;
}